.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.sub-heading {
  color: #171f46;
  font-family: 'Roboto';
}
.sub-para {
  color: #64748b;
  font-family: 'Roboto';
}
.image {
  height: 50px;
  width: 50px;
  align-self: flex-end;
}
.card {
  height: 250px;
  width: 500px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #ffffff;

  border-radius: 30px;
  padding: 20px;
}
@media (max-width: 768px) {
  .card {
    height: 250px;
    width: 80%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #ffffff;

    border-radius: 30px;
    padding: 20px;
  }
}
